<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Template App</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	{% block head %}{% endblock %}
</head>
<body>

	<nav>
		<ul>
			<li><a href="{% url 'homepage' %}">Home</a></li>
			{% if request.user.is_authenticated %}
			<li><a href="{% url 'logout' %}">Log out</a></li>
			{% else %}
			<li><a href="{% url 'login' %}">Log in</a></li>
			{% endif %}
		</ul>
	</nav>
	{% block body %}
		<h1>Template App</h1>
		<p>Templates should extend <code>base.html</code> and override the <code>body</code>block.
{% verbatim example %}
<pre>
{% extends 'base.html' %}
{% block body %}
	This is my neat page.
{% endblock %}
</pre>
{% endverbatim example%}
	{% endblock %}
</body>
</html>
